
@import url("./components/flipCard/mediaqueries.css");
@import url("./components/carrousel/mediaqueries.css");
@import url("./components/cardAbout/mediaqueries.css");

@media screen and (min-width: 1500px) {

    .section-p{
        font-size:20px
    }
    .section-title{
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .section-p{
        font-size:20px
    }
}

@media screen and (max-width: 750px) {
    .components2 {
        flex-direction: column;
        margin-top: -10px;
    }
    .cardsFlip{
        display: flex;
    flex-direction: column;
    }   
}

@media screen and (max-width: 600px) {
    
    .carrousel-container{
        width: 200px;
        height: 200px;
    }
    
}