
@import url("./components/flipCard/mediaqueries.css");
@import url("./components/carrousel/mediaqueries.css");
@import url("./components/cardAbout/mediaqueries.css");
@import url("./components/navbar/mediaqueries.css");

@media screen and (min-width: 1500px) {

    .section-p{
        font-size:20px
    }
    .section-title{
        font-size: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .section-p{
        font-size:20px
    }
   
}

@media screen and (max-width: 750px) {
  .hamburger-icon {
    display: flex;
  }
  .links-desktop{
    display: none;
  }
    .components2 {
      flex-direction: column;
      margin-top: -10px;
    }
    .cardsFlip{
      display: flex;
      flex-direction: column;
    }   
    .components1 {
       flex-direction: column;
      }
      .container {
        width: 100%;
      }
      .section__pic-main {
        width: 100%;
      }
      .theButtons{
        width: 50%;
      }
      .menu-links {
        margin-top: -5px;
      }
}

@media screen and (max-width: 600px) {
    
    .carrousel-container{
        width: 200px;
        height: 200px;
    }
    .sec-2 .animate, .sec-3 .animate {
      transition: none;
      transform: none;
    }


.text-1 {
    font-size: 25px;
  }
  .text-2 {
    font-size: 20px;
  }
  .section__pic-main img {
    height: 160px;
    width: auto;
    z-index: 1;
  }
  .iconAbout {
    height: 1.5rem;
  }
  .cardsAbout {

    margin-top:10px
  }
   
  .about-description {
    font-size: 10px;
  }
  .theButtons{
    width: 50%;
  }
  #footer li a {
    font-size: 14px;
  }
  p.text-end-final{
    font-size: 10px;
  }
}