@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("./components/flipCard/flipCard.css");
@import url("./components/carrousel/carrousel.css");
@import url("./components/cardAbout/cardAbout.css");
@import url("./components/arrowIcon/arrowIcon.css");
@import url("./components/navbar/navbar.css");
@import url("./components/btn/btn.css");  
@import url("./components/hamburgerIcon/hamburgerIcon.css");
@import url("./components/heartIcon/heartIcon.css");
@import url("./components/toast/toast.css");
/* GLOBAL */
* {
  margin: 0; /* Restablece el margen de todos los elementos a 0 */
  padding: 0; /* Restablece el relleno de todos los elementos a 0 */
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(-45deg, #1f242d, #333a49, #1f242d, #3e495b);
  background-size: 1000% 1000%;
  width: 100%;
  height: 100vh; /* Cambiado de 100% a 100vh */
  animation: animate 15s ease infinite;
  overflow-x: hidden; /* Agregado para ocultar el desbordamiento horizontal */
  box-sizing: border-box; /* Agregado para incluir padding y border en el ancho */
}
nav, .links-desktop {
  box-sizing: border-box;
  width: 60%;
}
.theButtons{
  width: 10%;
  display: flex;
}

@keyframes animate {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 30%;
  }
}

.icon {
  cursor: pointer;
  height: 2rem;
}
/* FIN GLOBAL */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p.text-end-final {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* FIN NAVBAR DESKTOP */

/* CSS SECTION */
section {
  margin-top: 10px;
}
section .animate {
  transition: 1s;
}

.sec-2 .animate {
  transform: translateX(-120%);
}
.sec-2.show-animate .animate {
  transform: translateX(0);
}

.sec-3 .animate {
  transform: translateX(100%);
}
.sec-3.show-animate .animate {
  transform: translateX(0);
}

.sec-5 .animate {
  transform: scale(.7)
}
.sec-5.show-animate .animate {
  transform: scale(1)
}
.section-p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.section-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 40px;
  margin-top: -5px;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
}
.titles * {
  user-select: none; /* Hace que todos los textos dentro de un .card-list-project no sean seleccionables */
}

.menu-links {
  position: absolute;
  top: 55px;
  right: 100px;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out; /* Corregido aquí */
}

.menu-links {
  position: absolute;
  top: 0px;
  right: 100px;
  border: white;
  background: linear-gradient(-45deg, #1f242d, #333a49, #1f242d, #3e495b);
  background-size: 800% 800%;
  width: 100%;
  animation: animate 15s ease infinite;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100; /* Asegúrate de que el z-index sea mayor que el de .section__pic-main */
}

.menu-links li {
  list-style: none;
}

.menu-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  display: block;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

.menu-links li  a:hover {
  background-color: #f1f1f1;
  color: black;
}

.menu-links.open {
  max-height: 300px; /* Ajusta este valor según tus necesidades */
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0px 0px
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 7px;
  margin-left: 30px;
  margin-top:5px;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  border-radius: .2rem;
  top:40px;
  right:0px;
  background-color: transparent;
  min-width: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: max-height 0.2s ease-in-out; /* Agregado para animar el cambio de altura */
  text-align: left; /* Agregado para alinear el texto a la derecha */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
    border-radius: .2rem;
  display: block;
  border: 1px solid white;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}
/* FIN CSS SECTION */

#home {
  position: relative;
}
.components1 {
  display: flex;
  justify-content: center;
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center;
  height: 90vh;
  width: 100%;
  box-sizing: border-box;
}
.section__pic-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  z-index: 50;
}
.section__pic-main img {
  height: auto; /* Cambiado de 350px a auto */
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
  border-radius: 50%; /* Añade bordes redondeados al contenedor */
}

.container {
  display: flex; /* Convierte el contenedor en un contenedor flex */
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 40%;
  transition: translate(-50%, -50%);
}



.text-1 {
  color: white;
  font-size: 40px;
  /* font-weight: 300; */
  letter-spacing: 2px;
  margin-bottom: 0px;
  position: relative;
  animation: text 3s 1;
}
.text-2 {
  font-size: 30px;
  color: yellowgreen;
  opacity: 0; /* Oculta el texto al inicio */
  animation: text2 3s forwards; /* Agrega una animación para la opacidad y mantiene la animación original */
}
.text-2{
  user-select: none; /* Hace que todos los textos dentro de un .card-list-project no sean seleccionables */
}
.iconZoom {
  cursor: pointer;
  height: 2rem;
  margin:0px 10px;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Añadida transición para transform */
}

.iconZoom:hover {
  transform: scale(1.4);
}



.btn-container{
  margin-top: 20px;
  margin-bottom:20px
}
@keyframes text {
  0% {
    color: white;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing:10px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 5px;
    margin-bottom: -40px;
  }
}
@keyframes text2 {
  0% {
    opacity: 0; /* El texto está completamente transparente al inicio */
  }
  85% {
    opacity: 0; /* El texto está completamente transparente al inicio */
  }
  100% {
    opacity: 1; /* El texto es completamente opaco al final de la animación */
  }
}

/* SECTION 2 */
#about {
  position: relative;
}
.iconAbout {
  cursor: pointer;
  height: 2rem;
}
.components2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.carrousel-container {
  overflow: hidden;
  width: 300px;
  margin: 0px 30px;
  height: 300px;
  border-radius: 20px;
}
.cardsAbout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px; /* Ajusta este valor al ancho mínimo que prefieras */
}
.about-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto; /* Centra el elemento horizontalmente */
  padding: 10px;
  width: 80%; /* Establece el ancho al 80% */
  height: 30vh;
  color: white;
}
/* END SECTION 2  */

/* SECTION 3 */
#experience {
  position: relative;
}
.components3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.cardsFlip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px; /* Ajusta este valor al ancho mínimo que prefieras */
}


/* END SECTION 3  */

/* SECTION 4 */
#projects {
  position: relative;
}
.components4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start ;
  min-height: 80vh;
  margin: 0px 15px;
}
.image-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 6px 6px 20px rgb(109, 109, 109);
  transition: .3s ease-in-out;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card:not(:first-child) {
  margin-left: -50px;
}
.image-card:hover{
  transform: translateY(-24px);
  width: 200px;
  height: 450px;
}
.image-card.phone:hover{
  width: 250px;
  height: 550px;
}
.image-card.desktop:hover{
  width: 620px;
  height: 300px;
}
.image-card:hover ~ .image-card{
  transform: translateX(50px);
  
}

.images-container {
  display: flex;
  flex-direction: row; /* Asegura que las imágenes se muestren una al lado de la otra */
  overflow-x: auto; /* Añade un desplazamiento horizontal cuando las imágenes son demasiado anchas */
  max-width: 100%; /* Asegura que el contenedor no se expanda más allá de su contenedor padre */
}


/* END SECTION 4  */

/* SECTION 5 */
#contact {
  position: relative;
}
form{
  margin: 0px auto;
  margin-top: -40px ;
  max-width: 80%;
  border-radius: 4px;
  padding: 55px 30px;
  height: 70vh;
  width: 50%;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
form a {
  text-decoration: none;
  color: white;
}

form .half{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input{
  background: transparent;
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
  outline: 0;
  padding: 12px;
  width: 100%;
  height: 20px;
  font-size: 17px;
}

form .full{
  margin-bottom: 24px;
}

form .full textarea {
  background: transparent;
  border-radius: 1rem;
  border: 1px solid white;
  outline: 0;
  padding: 12px 12px;
  width: 100%;
  height: 100px;
  font-size: 17px;
  color: #f1f1f1;
}

form .action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}



form .icons a{
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
  background: rgba(255,255,255,0.075);
  color: #f1f1f1;
}

@media (max-width: 600px){
  form{
    width: 100%;
    margin-top: -15px ;
  }

  form .half .item input, form .full textarea {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* Ajusta este valor según tus necesidades */
  }

  form .action{
    display: flex;
    flex-direction: column;
  }
  form .icons{
    margin:20px 0px;
  }
}

/* END SECTION 5  */



.list-project {
  width: 350px; /* Ancho fijo de 350px */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
}



.card-list-project{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border:1.5px solid grey;
  overflow: hidden;
  position: relative;
  transition: .3s ease-in-out;
  color: white;
}
.card-list-project:active {
  background-color: #f0f0f0; /* Cambia el color de fondo cuando el usuario hace clic en un .card-list-project */
}

.card-list-project * {
  user-select: none; /* Hace que todos los textos dentro de un .card-list-project no sean seleccionables */
}

.title-list-project{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 20px;
  color: white;

}

.projects-chips{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  /* box-shadow: 6px 6px 20px rgb(109, 109, 109); */
  transition: .3s ease-in-out
}
.chip{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.chip:hover {
  filter: brightness(80%);
}
.chip-green{
  background-color:#42b883;
  color: white;
}
.chip-yellow{
  background-color: #f4d35e;
  color: black
}
.chip-blue{
  background-color: #3858e9;
  color: white;
}
.chip-black{
  background-color: #000000;
  color: white;
}
.chip-grey{
  background-color: #888787;
  color: white;
}


.content-project {
  flex-grow: 1; /* Hace que .content-project ocupe el resto del espacio disponible */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos hijos al principio del contenedor */
  align-items: center;
  overflow-y: auto; /* Hace que el elemento sea desplazable en el eje Y */
}
.element-project{
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y la altura del elemento */
  height: 100%;
  width: 100%; /* Utiliza todo el ancho del contenedor */
  position: relative; /* Añadido para posicionar absolutamente .content-project-body respecto a este elemento */
  /* margin: 10px; */ /* Comentado para eliminar el margen */
  margin-bottom: 80px;
}

.content-project-img{
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.content-project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 10px;
  border-radius: 20px;
}
.content-project-title{
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;

}
.project-title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65%;
  height: 100%;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 20px;
  color: white;
}
.project-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content-project-body{
  height: 100vh; /* Ajustado a 100vh */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.message-phone{
  display:none
}