.arrowDown {
    right: 1.5rem;
    height: 2.5rem;
    bottom:3rem; 
    cursor: pointer;
    transition: transform 0.3s ease;
    position: fixed; /* Cambiado de absolute a fixed */
    z-index: 200;
}

.arrowUp {
    cursor: pointer;
    right: 1.5rem;
    height: 2.5rem;
    top:3rem; 
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    position: fixed; /* Cambiado de absolute a fixed */
    z-index: 200;
}

.arrowDown, .arrowUp {
    /* ...otros estilos... */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
  }
.arrowUp:hover {
    transform: rotate(180deg) scale(1.4);
}       

.arrowDown:hover {
    transform: scale(1.4);
}