

.btn-home {
    font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  margin:0px 5px


  }

  .btn-color-1 {
    cursor: pointer;
    background: white;
    color: #252526;
    border: white 0.1rem solid;
  }


  .btn-color-2 {
    cursor: pointer;
    color: white;
    background:transparent;
    border: white 0.1rem solid;
  }

  .btn-color-2:hover {
    cursor: pointer;
    background: white;
    color: #252526;
    border: white 0.1rem solid;
  }