.toast {
    visibility: hidden;
    min-width: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    background-color: green;
    bottom: 50px;
    left: 50%; /* Centra el toast horizontalmente */
    transform: translateX(-50%) translateY(100%); /* Centra el toast horizontalmente y lo mueve 100% debajo de su posición original */
    transition: visibility 0.1s, opacity 0.5s, transform 0.5s ease-out; /* Añade una transición para la transformación */
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Centra el toast horizontalmente y lo mueve a su posición original */
}

.toast-error {
    background-color: rgba(243, 68, 28, 0.864);
}

.toast-success {
    background-color: green;
}